<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        </br>
        <hr class="star-light">
        </br>
        <h3>Back-End developer & Robot & AI</h3>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2" >
        <img class="img-responsive" src="img/photo3.jpg" alt="profile-pic" style="border-radius:50%; width:300px; "/>
      </div>
        
      <div class="col-lg-4" style="font-size : 20px">
        <p> > 이름 : 고세형</p> </br> <p> > 학력 : 공주대학교 </br> &emsp;&emsp; &emsp; 정보통신공학부 전파공학전공 </p> </br>
        <p> > 교육 : 미래융합교육원 </br> &emsp;&emsp; &emsp; 실무 프로젝트_AI(인공지능) SW </br> &emsp;&emsp; &emsp; 개발자 과정(자바, 파이썬) </p> </br>
        <p> >자격증 : 정보처리기사 </br> &emsp;&emsp;&emsp;&emsp; 무선설비기사 </p>
      </div>
    </div>
  </br>
    <div class="col-lg-4 col-lg-offset-2" style="width : 100%">
      </br>
      <p> 성장하는 개발자 고세형입니다.</p>
      <p> 책임감, 끈기와 의사소통 능력이 저의 강점입니다 </p>
      <p> 앞으로 실력과 신뢰가 있는 개발자로 성장하고 싶습니다. </p>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        </br>
        </br>
        </br>
        <h2>Skill</h2>
        </br>
        <hr class="star-light">
        </br>
        <h3>이제까지 배우고 사용해봤던 기술입니다.</h3>
      </div>
      <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate ">
        <h4 class="title"> Back - End </h4>
        <p>asd</br>dsa</br>dsa</br>dsa</br>dsa</br>dsa</br></p>
      </div>
      <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate ">
        <h4 class="title"> Back - End </h4>
        <p>asd</br>dsa</br>dsa</br>dsa</br>dsa</br>dsa</br></p>
      </div>      <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate ">
        <h4 class="title"> Back - End </h4>
        <p>asd</br>dsa</br>dsa</br>dsa</br>dsa</br>dsa</br></p>
      </div>      <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate ">
        <h4 class="title"> Back - End </h4>
        <p>asd</br>dsa</br>dsa</br>dsa</br>dsa</br>dsa</br></p>
      </div>      <div class="col-lg-4 col-md-6 icon-box aos-init aos-animate ">
        <h4 class="title"> Back - End </h4>
        <p>asd</br>dsa</br>dsa</br>dsa</br>dsa</br>dsa</br></p>
      </div>
    </div>
    
  </div>
</section>
