<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        </br>
        <hr class="star-light">
        </br>
        <h3>Back-End developer & Robot & AI</h3>
      </div>
    </div>
    </br>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2" style="font-size : 20px">
        <p> > 이름 : 고세형</p> </br> <p> > 학력 : 공주대학교 </br> 정보통신공학부 전파공학전공 </p> </br>
        <p> > 교육 : 미래융합교육원 </br> 실무 프로젝트_AI(인공지능) SW 개발자 과정(자바, 파이썬) </p>
        <p> >자격증 : 정보처리기사 </br> 무선설비기사 </p>
      </div>
      <div class="col-lg-4">
        <p> >자격증 : 정보처리기사 </br> 무선설비기사 </p>
      </div>
    </div>
  </div>
</section>
