<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <h5 class="row" >Back-End developer & Robot & AI</h5>
      <div class="col-lg-4 col-lg-offset-2">
        <p>> 이름 : 고세형 </br> > 학력 : 공주대학교 </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;정보통신공학부 전파공학전공 </br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;옥천고등학교 졸업</p>
        <p>>교육 : 미래융합교육원 </br> 실무 프로젝트_AI(인공지능) SW 개발자 과정(자바, 파이썬) </p>
      </div>
      <div class="col-lg-4">
        <p>Whether you're a student looking to showcase your work, a professional looking to attract clients, or
          a graphic artist looking to share your projects, this template is the perfect starting point! </p>
      </div>
    </div>
  </div>
</section>
