<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="portfolio-flex-row">
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://bright-aragon-0a9.notion.site/AI-Smart-AI-Factory-a775ad9aafad4914bf098dd9d4562faa?pvs=4" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="img/portfolio/smaet ai factory.png" class="img-responsive">
        </a>
      </div>
      <div class="portfolio-flex-item portfolio-item">
        <a href="https://bright-aragon-0a9.notion.site/AI-Smart-AI-Factory-a775ad9aafad4914bf098dd9d4562faa?pvs=4" class="portfolio-link" data-toggle="modal">
        <div class="caption">
          <div class="caption-content">
          <i class="fa fa-search-plus fa-3x"></i>
          </div>
        </div>
        <img src="img/portfolio/smart ai factory.png" class="img-responsive">
        </a>
      </div>

    </div>
  </div>
</section>
